<a href="https://colab.research.google.com/github/Gitprincesskerry/IS362/blob/main/Final%20Project/FinalIS362.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NYC Diabetes Death Rate

In [1]:
import pandas as pd
import numpy as np
import urllib
import json

The following code imports the NYC Deaths dataset and generates it for viewing:

In [2]:
nyc = pd.read_csv('https://raw.githubusercontent.com/Gitprincesskerry/IS362/main/Final%20Project/new-york-city-leading-causes-of-death.csv')
nyc

      Year  ... Age Adjusted Death Rate
0     2017  ...                     NaN
1     2017  ...            82.308501815
2     2017  ...            80.491340351
3     2017  ...            12.579242234
4     2017  ...            10.771971109
...    ...  ...                     ...
1511  2007  ...                       .
1512  2007  ...                   167.4
1513  2007  ...                       .
1514  2007  ...                       .
1515  2007  ...                       .

[1516 rows x 7 columns]

Next, the following code load the information about the dataset about anx allows the viwer to read what the dataset is about.

In [3]:
nycjson = 'https://raw.githubusercontent.com/Gitprincesskerry/IS362/main/Final%20Project/socrata_metadata.json'


nycdata = urllib.request.urlopen(nycjson).read()
nycdata

nyctojson = json.loads(nycdata)
nyctojson

{'approvals': [{'reviewedAt': 1484931699,
   'reviewedAutomatically': True,
   'state': 'approved',
   'submissionDetails': {'permissionType': 'READ'},
   'submissionId': 1067265,
   'submissionObject': 'public_audience_request',
   'submissionOutcome': 'change_audience',
   'submissionOutcomeApplication': {'failureCount': 0, 'status': 'success'},
   'submittedAt': 1484931699,
   'submitter': {'displayName': 'NYC OpenData', 'id': '5fuc-pqz2'},
   'workflowId': 2285}],
 'assetType': 'dataset',
 'attribution': 'Department of Health and Mental Hygiene (DOHMH)',
 'averageRating': 0,
 'category': 'Health',
 'columns': [{'cachedContents': {'cardinality': '11',
    'largest': '2017',
    'non_null': '1516',
    'not_null': '1097',
    'null': '0',
    'smallest': '2007',
    'top': [{'count': '145', 'item': '2016'},
     {'count': '141', 'item': '2007'},
     {'count': '141', 'item': '2011'},
     {'count': '141', 'item': '2015'},
     {'count': '138', 'item': '2010'},
     {'count': '136', 'item': '2017'},
     {'count': '136', 'item': '2014'},
     {'count': '136', 'item': '2008'},
     {'count': '135', 'item': '2009'},
     {'count': '134', 'item': '2012'},
     {'count': '133', 'item': '2013'}]},
   'dataTypeName': 'text',
   'description': 'The year of death.\n',
   'fieldName': 'year',
   'format': {'align': 'left', 'displayStyle': 'plain'},
   'id': 286671897,
   'name': 'Year',
   'position': 1,
   'renderTypeName': 'text',
   'tableColumnId': 16422631,
   'width': 148},
  {'cachedContents': {'cardinality': '34',
    'largest': 'Viral Hepatitis (B15-B19)',
    'non_null': '1516',
    'not_null': '1095',
    'null': '0',
    'smallest': 'Accidents Except Drug Poisoning (V01-X39, X43, X45-X59, Y85-Y86)',
    'top': [{'count': '132', 'item': 'Malignant Neoplasms (Cancer: C00-C97)'},
     {'count': '132',
      'item': 'Diseases of Heart (I00-I09, I11, I13, I20-I51)'},
     {'count': '132', 'item': 'All Other Causes'},
     {'count': '130', 'item': 'Influenza (Flu) and Pneumonia (J09-J18)'},
     {'count': '127', 'item': 'Diabetes Mellitus (E10-E14)'},
     {'count': '125', 'item': 'Cerebrovascular Disease (Stroke: I60-I69)'},
     {'count': '123', 'item': 'Chronic Lower Respiratory Diseases (J40-J47)'},
     {'count': '109',
      'item': 'Essential Hypertension and Renal Diseases (I10, I12)'},
     {'count': '80',
      'item': 'Accidents Except Drug Posioning (V01-X39, X43, X45-X59, Y85-Y86)'},
     {'count': '63',
      'item': 'Mental and Behavioral Disorders due to Accidental Poisoning and Other Psychoactive Substance Use (F11-F16, F18-F19, X40-X42, X44)'},
     {'count': '55', 'item': "Alzheimer's Disease (G30)"},
     {'count': '51',
      'item': 'Human Immunodeficiency Virus Disease (HIV: B20-B24)'},
     {'count': '41',
      'item': 'Intentional Self-Harm (Suicide: X60-X84, Y87.0)'},
     {'count': '33',
      'item': 'Certain Conditions originating in the Perinatal Period (P00-P96)'},
     {'count': '32', 'item': 'Chronic Liver Disease and Cirrhosis (K70, K73)'},
     {'count': '24',
      'item': 'Accidents Except Drug Poisoning (V01-X39, X43, X45-X59, Y85-Y86)'},
     {'count': '22', 'item': 'Assault (Homicide: Y87.1, X85-Y09)'},
     {'count': '21',
      'item': 'Nephritis, Nephrotic Syndrome and Nephrisis (N00-N07, N17-N19, N25-N27)'},
     {'count': '18', 'item': 'Septicemia (A40-A41)'},
     {'count': '13',
      'item': 'Congenital Malformations, Deformations, and Chromosomal Abnormalities (Q00-Q99)'}]},
   'dataTypeName': 'text',
   'description': 'The cause of death.\n',
   'fieldName': 'leading_cause',
   'format': {'align': 'left', 'displayStyle': 'plain'},
   'id': 286671898,
   'name': 'Leading Cause',
   'position': 2,
   'renderTypeName': 'text',
   'tableColumnId': 16422634,
   'width': 432},
  {'cachedContents': {'cardinality': '4',
    'largest': 'Male',
    'non_null': '1516',
    'not_null': '1094',
    'null': '0',
    'smallest': 'F',
    'top': [{'count': '554', 'item': 'F'},
     {'count': '540', 'item': 'M'},
     {'count': '213', 'item': 'Female'},
     {'count': '209', 'item': 'Male'}]},
   'dataTypeName': 'text',
   'description': "The decedent's sex.\n",
   'fieldName': 'sex',
   'format': {'align': 'left', 'displayStyle': 'plain'},
   'id': 286671899,
   'name': 'Sex',
   'position': 3,
   'renderTypeName': 'text',
   'tableColumnId': 16422633,
   'width': 136},
  {'cachedContents': {'cardinality': '8',
    'largest': 'White Non-Hispanic',
    'non_null': '1516',
    'not_null': '1094',
    'null': '0',
    'smallest': 'Asian and Pacific Islander',
    'top': [{'count': '276', 'item': 'Other Race/ Ethnicity'},
     {'count': '267', 'item': 'Not Stated/Unknown'},
     {'count': '243', 'item': 'Hispanic'},
     {'count': '243', 'item': 'Asian and Pacific Islander'},
     {'count': '178', 'item': 'Black Non-Hispanic'},
     {'count': '176', 'item': 'White Non-Hispanic'},
     {'count': '67', 'item': 'Non-Hispanic White'},
     {'count': '66', 'item': 'Non-Hispanic Black'}]},
   'dataTypeName': 'text',
   'description': "The decedent's ethnicity.\n",
   'fieldName': 'race_ethnicity',
   'format': {'align': 'left', 'displayStyle': 'plain'},
   'id': 286671900,
   'name': 'Race Ethnicity',
   'position': 4,
   'renderTypeName': 'text',
   'tableColumnId': 16422632,
   'width': 208},
  {'cachedContents': {'cardinality': '573',
    'largest': '99',
    'non_null': '1516',
    'not_null': '1094',
    'null': '0',
    'smallest': '.',
    'top': [{'count': '138', 'item': '.'},
     {'count': '40', 'item': '1'},
     {'count': '30', 'item': '5'},
     {'count': '24', 'item': '8'},
     {'count': '22', 'item': '6'},
     {'count': '18', 'item': '7'},
     {'count': '17', 'item': '10'},
     {'count': '16', 'item': '11'},
     {'count': '15', 'item': '14'},
     {'count': '15', 'item': '2'},
     {'count': '13', 'item': '9'},
     {'count': '13', 'item': '18'},
     {'count': '12', 'item': '3'},
     {'count': '12', 'item': '15'},
     {'count': '11', 'item': '16'},
     {'count': '11', 'item': '13'},
     {'count': '10', 'item': '17'},
     {'count': '9', 'item': '36'},
     {'count': '9', 'item': '191'},
     {'count': '9', 'item': '29'}]},
   'dataTypeName': 'text',
   'description': 'The number of people who died due to cause of death.\n',
   'fieldName': 'deaths',
   'format': {'align': 'right', 'displayStyle': 'plain'},
   'id': 286671901,
   'name': 'Deaths',
   'position': 5,
   'renderTypeName': 'text',
   'tableColumnId': 40844762,
   'width': 100},
  {'cachedContents': {'cardinality': '702',
    'largest': '99.2',
    'non_null': '1359',
    'not_null': '1094',
    'null': '157',
    'smallest': '.',
    'top': [{'count': '386', 'item': '.'},
     {'count': '7', 'item': '13'},
     {'count': '7', 'item': '17.3'},
     {'count': '6', 'item': '11.4'},
     {'count': '6', 'item': '16.3'},
     {'count': '6', 'item': '18'},
     {'count': '6', 'item': '5.8'},
     {'count': '6', 'item': '6.7'},
     {'count': '5', 'item': '14.5'},
     {'count': '5', 'item': '15.8'},
     {'count': '5', 'item': '16.9'},
     {'count': '5', 'item': '16.1'},
     {'count': '5', 'item': '12.8'},
     {'count': '5', 'item': '8.3'},
     {'count': '5', 'item': '18.3'},
     {'count': '4', 'item': '18.5'},
     {'count': '4', 'item': '4.8'},
     {'count': '4', 'item': '17.2'},
     {'count': '4', 'item': '21.7'},
     {'count': '4', 'item': '8.8'}]},
   'dataTypeName': 'text',
   'description': 'The death rate within the sex and Race/ethnicity category\n',
   'fieldName': 'death_rate',
   'format': {'align': 'right', 'displayStyle': 'plain'},
   'id': 286671902,
   'name': 'Death Rate',
   'position': 6,
   'renderTypeName': 'text',
   'tableColumnId': 40844763,
   'width': 100},
  {'cachedContents': {'cardinality': '692',
    'largest': '99.9',
    'non_null': '1359',
    'not_null': '1094',
    'null': '157',
    'smallest': '.',
    'top': [{'count': '386', 'item': '.'},
     {'count': '6', 'item': '6.3'},
     {'count': '6', 'item': '21.4'},
     {'count': '6', 'item': '17.9'},
     {'count': '5', 'item': '8.1'},
     {'count': '5', 'item': '5.1'},
     {'count': '5', 'item': '20.6'},
     {'count': '5', 'item': '7.4'},
     {'count': '5', 'item': '8.5'},
     {'count': '5', 'item': '16.4'},
     {'count': '5', 'item': '14.8'},
     {'count': '5', 'item': '7.2'},
     {'count': '5', 'item': '14.1'},
     {'count': '5', 'item': '16.8'},
     {'count': '5', 'item': '8.7'},
     {'count': '5', 'item': '17.6'},
     {'count': '4', 'item': '19.1'},
     {'count': '4', 'item': '15.4'},
     {'count': '4', 'item': '15.5'},
     {'count': '4', 'item': '16.9'}]},
   'dataTypeName': 'text',
   'description': 'The age-adjusted death rate within the sex and Race/ethnicity category\n',
   'fieldName': 'age_adjusted_death_rate',
   'format': {'align': 'right', 'displayStyle': 'plain'},
   'id': 286671903,
   'name': 'Age Adjusted Death Rate',
   'position': 7,
   'renderTypeName': 'text',
   'tableColumnId': 40844764,
   'width': 100}],
 'createdAt': 1384963296,
 'description': 'The leading causes of death by sex and ethnicity in New York City in since 2007. Cause of death is derived from the NYC death certificate which is issued for every death that occurs in New York City.\n\n</p>\nReport last ran: 09/24/2019</br>\nRates based on small numbers (RSE > 30) as well as aggregate counts less than 5 have been suppressed in downloaded data</p>\nSource: Bureau of Vital Statistics and  New York City Department of Health and Mental Hygiene',
 'displayType': 'table',
 'downloadCount': 39981,
 'flags': ['default',
  'ownerMayBeContacted',
  'restorable',
  'restorePossibleForType'],
 'grants': [{'flags': ['public'], 'inherited': False, 'type': 'viewer'}],
 'hideFromCatalog': False,
 'hideFromDataJson': False,
 'id': 'jb7j-dtam',
 'indexUpdatedAt': 1545154533,
 'metadata': {'attachments': [{'assetId': '7721c780-d09c-421e-bfa6-052c6c6a7bd0',
    'filename': 'Cause of Death_121412.xlsx',
    'name': 'Cause of Death_121412.xlsx'}],
  'availableDisplayTypes': ['table', 'fatrow', 'page'],
  'custom_fields': {'Dataset Information': {'Agency': 'Department of Health and Mental Hygiene (DOHMH)'},
   'Update': {'Automation': 'Yes',
    'Date Made Public': '12/13/2013',
    'Update Frequency': 'Annually'}},
  'jsonQuery': {'order': [{'ascending': False, 'columnFieldName': 'year'}]},
  'rdfClass': '',
  'rdfSubject': '0',
  'renderTypeConfig': {'visible': {'table': True}},
  'rowLabel': 'Cause of Death'},
 'name': 'New York City Leading Causes of Death',
 'newBackend': True,
 'numberOfComments': 2,
 'oid': 25298817,
 'owner': {'displayName': 'NYC OpenData',
  'flags': ['acceptedEula', 'mayBeStoriesCoOwner'],
  'id': '5fuc-pqz2',
  'profileImageUrlLarge': '/api/users/5fuc-pqz2/profile_images/LARGE',
  'profileImageUrlMedium': '/api/users/5fuc-pqz2/profile_images/THUMB',
  'profileImageUrlSmall': '/api/users/5fuc-pqz2/profile_images/TINY',
  'screenName': 'NYC OpenData',
  'type': 'interactive'},
 'provenance': 'official',
 'publicationAppendEnabled': False,
 'publicationDate': 1484931699,
 'publicationGroup': 1363610,
 'publicationStage': 'published',
 'query': {'orderBys': [{'ascending': False,
    'expression': {'columnId': 286671897, 'type': 'column'}}]},
 'rights': ['read'],
 'rowClass': '',
 'rowsUpdatedAt': 1608139644,
 'rowsUpdatedBy': '5fuc-pqz2',
 'tableAuthor': {'displayName': 'NYC OpenData',
  'flags': ['acceptedEula', 'mayBeStoriesCoOwner'],
  'id': '5fuc-pqz2',
  'profileImageUrlLarge': '/api/users/5fuc-pqz2/profile_images/LARGE',
  'profileImageUrlMedium': '/api/users/5fuc-pqz2/profile_images/THUMB',
  'profileImageUrlSmall': '/api/users/5fuc-pqz2/profile_images/TINY',
  'screenName': 'NYC OpenData',
  'type': 'interactive'},
 'tableId': 14003076,
 'tags': ['death',
  'cause',
  'vital statistic',
  'race',
  'ethnicity',
  'male',
  'female'],
 'totalTimesRated': 0,
 'viewCount': 177998,
 'viewLastModified': 1608139643,
 'viewType': 'tabular'}

Next, we will copy the dataset so that we can manipulate the data.

In [4]:
nyc2 = nyc.copy()

Let's take a look at the columns of the datset:

In [5]:
nyc2.columns

Index(['Year', 'Leading Cause', 'Sex', 'Race Ethnicity', 'Deaths',
       'Death Rate', 'Age Adjusted Death Rate'],
      dtype='object')

The dataset column titles has spaces which will not one to "call" the field based on the nme thus the following code will replace the space in any column name with an underscore so that we can manipulate the data without any issues calling the field.

In [6]:
nyc2.columns = nyc2.columns.str.replace(' ', '_')
nyc2

      Year  ... Age_Adjusted_Death_Rate
0     2017  ...                     NaN
1     2017  ...            82.308501815
2     2017  ...            80.491340351
3     2017  ...            12.579242234
4     2017  ...            10.771971109
...    ...  ...                     ...
1511  2007  ...                       .
1512  2007  ...                   167.4
1513  2007  ...                       .
1514  2007  ...                       .
1515  2007  ...                       .

[1516 rows x 7 columns]

Next, let's do a groupby which will give us all the diseases in the datset.

In [7]:
nyc2.groupby('Leading_Cause').count()

                                                    Year  ...  Age_Adjusted_Death_Rate
Leading_Cause                                             ...
Accidents Except Drug Poisoning (V01-X39, X43, ...    24  ...                       18
Accidents Except Drug Posioning (V01-X39, X43, ...    80  ...                       80
All Other Causes                                     132  ...                      120
Alzheimer's Disease (G30)                             55  ...                       47
Anemias (D50-D64)                                      1  ...                        0
Aortic Aneurysm and Dissection (I71)                   4  ...                        3
Assault (Homicide: U01-U02, Y87.1, X85-Y09)            4  ...                        2
Assault (Homicide: Y87.1, X85-Y09)                    22  ...                       21
Atherosclerosis (I70)                                  4  ...                        3
Cerebrovascular Disease (Stroke: I60-I69)            125  ...                      114
Certain Conditions originating in the Perinatal...    33  ...                       26
Chronic Liver Disease and Cirrhosis (K70, K73)        32  ...                       30
Chronic Liver Disease and Cirrhosis (K70, K73-K74)    10  ...                        4
Chronic Lower Respiratory Diseases (J40-J47)         123  ...                      112
Congenital Malformations, Deformations, and Chr...    13  ...                        8
Diabetes Mellitus (E10-E14)                          127  ...                      116
Diseases of Heart (I00-I09, I11, I13, I20-I51)       132  ...                      120
Essential Hypertension and Renal Diseases (I10,...   109  ...                       99
Human Immunodeficiency Virus Disease (HIV: B20-...    51  ...                       47
Influenza (Flu) and Pneumonia (J09-J18)              130  ...                      120
Insitu or Benign / Uncertain Neoplasms (D00-D48)       5  ...                        5
Intentional Self-Harm (Suicide: U03, X60-X84, Y...     7  ...                        6
Intentional Self-Harm (Suicide: X60-X84, Y87.0)       41  ...                       41
Malignant Neoplasms (Cancer: C00-C97)                132  ...                      120
Meningitis (G00, G03)                                  1  ...                        0
Mental and Behavioral Disorders due to Accident...    63  ...                       55
Mental and Behavioral Disorders due to Use of A...     5  ...                        2
Nephritis, Nephrotic Syndrome and Nephrisis (N0...    21  ...                       18
Parkinson's Disease (G20)                              2  ...                        2
Peptic Ulcer (K25-K28)                                 1  ...                        0
Pregnancy, Childbirth and the Puerperium (O00-O09)     1  ...                        0
Septicemia (A40-A41)                                  18  ...                       14
Tuberculosis (A16-A19)                                 1  ...                        1
Viral Hepatitis (B15-B19)                              7  ...                        5

[34 rows x 6 columns]

The following code gives us the years of the information in the dataset.

In [8]:
nyc2.Year.unique()

array([2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007])

The following code gives us the Sex of the information in the dataset.

In [9]:
nyc2.Sex.unique()

array(['Female', 'Male', 'M', 'F'], dtype=object)

The following code gives us the Race of the information in the dataset.

In [10]:
nyc2.Race_Ethnicity.unique()

array(['Other Race/ Ethnicity', 'Asian and Pacific Islander', 'Hispanic',
       'Non-Hispanic Black', 'Non-Hispanic White', 'Not Stated/Unknown',
       'White Non-Hispanic', 'Black Non-Hispanic'], dtype=object)

The following code gives us the values of the Death count in the dataset.

In [11]:
nyc2.Deaths.unique()

array(['1', '609', '583', '92', '78', '73', '69', '60', '38', '36', '24',
       '366', '1437', '1205', '247', '222', '190', '187', '183', '131',
       '86', '83', '1157', '2486', '1775', '389', '326', '277', '251',
       '238', '159', '118', '77', '1438', '4279', '2983', '502', '418',
       '404', '378', '231', '192', '164', '119', '2349', '142', '80',
       '15', '12', '11', '10', '9', '6', '5', '99', '16', '13', '3', '2',
       '770', '684', '97', '93', '76', '46', '29', '493', '1427', '1192',
       '394', '235', '191', '158', '140', '124', '1275', '2143', '1508',
       '347', '309', '242', '229', '186', '165', '138', '133', '1413',
       '4082', '3017', '2167', '172', '194', '266', '409', '290', '374',
       '4', '21', '137', '14', '17', '19', '20', '23', '120', '193',
       '451', '565', '530', '58', '49', '43', '39', '385', '1485', '1162',
       '204', '203', '195', '168', '90', '59', '1147', '2303', '1864',
       '399', '276', '226', '218', '212', '101', '91', '1585', '4306',
       '3102', '471', '450', '361', '219', '156', '2416', '126', '81',
       '18', '7', '105', '30', '8', '683', '603', '113', '95', '75', '48',
       '37', '32', '449', '1418', '1224', '369', '217', '177', '170',
       '146', '1233', '2106', '1611', '313', '258', '220', '161', '153',
       '1375', '4054', '3090', '482', '461', '332', '317', '252', '244',
       '176', '151', '2381', '179', '22', '178', '79', '1599', '4494',
       '3130', '521', '503', '422', '239', '127', '2489', '25', '668',
       '610', '108', '85', '64', '50', '454', '1410', '1175', '261',
       '225', '196', '166', '1196', '2033', '1523', '345', '206', '185',
       '167', '155', '4015', '3020', '364', '342', '316', '287', '246',
       '181', '2288', '174', '94', '26', '498', '89', '71', '41', '34',
       '1361', '1193', '208', '197', '98', '65', '1184', '515', '2344',
       '1872', '392', '307', '232', '223', '147', '314', '116', '66', '.',
       '657', '207', '175', '1852', '424', '28', '31', '145', '102',
       '169', '1135', '274', '3153', '398', '4507', '563', '1146', '1532',
       '63', '2194', '3142', '1154', '123', '292', '74', '2578', '554',
       '228', '1281', '209', '1230', '115', '1195', '68', '148', '112',
       '2275', '3990', '199', '339', '42', '96', '462', '318', '1536',
       '1958', '180', '1261', '1557', '1341', '188', '1082', '4535',
       '285', '3132', '35', '1868', '618', '233', '27', '221', '249',
       '122', '107', '33', '149', '184', '103', '622', '427', '3187',
       '240', '1784', '271', '395', '437', '410', '1307', '467', '72',
       '2293', '633', '4085', '1149', '286', '300', '106', '2365', '1592',
       '189', '531', '2595', '263', '135', '265', '320', '139', '1940',
       '55', '540', '1125', '402', '469', '70', '136', '57', '416', '272',
       '53', '152', '205', '40', '1199', '143', '2316', '352', '4156',
       '132', '1483', '507', '129', '3184', '2444', '4719', '1109', '295',
       '2269', '173', '1912', '54', '1563', '1263', '214', '200', '1251',
       '308', '327', '1126', '333', '1320', '56', '3256', '576', '452',
       '696', '340', '281', '1918', '62', '51', '144', '1473', '2243',
       '5016', '1590', '1144', '1840', '61', '154', '646', '1207', '1085',
       '254', '4220', '1337', '162', '3371', '550', '253', '243', '1348',
       '273', '2165', '88', '1201', '278', '2445', '444', '466', '3222',
       '1025', '510', '1007', '52', '3438', '1057', '259', '150', '707',
       '297', '5351', '299', '1540', '501', '279', '3408', '171', '2034',
       '1326', '388', '382', '202', '1768', '4495', '384', '2015', '163',
       '478', '201', '2140', '211', '1167', '182', '614', '275', '1316',
       '1045', '414', '1354', '2282', '526', '245', '458', '775', '1305',
       '227', '1684', '1180', '3346', '555', '1818', '329', '1735',
       '1349', '448', '1097', '3236', '84', '371', '111', '629', '506',
       '215', '1067', '2535', '216', '47', '1382', '390', '255', '2068',
       '134', '5168', '1246', '6297', '67', '344', '1824', '1330', '1445',
       '1706', '621', '210', '2077', '529', '6836', '473', '380', '1216',
       '3361', '518', '1069', '5503', '456', '356', '1756', '1080', '546',
       '2725', '1046', '1464', '1268', '379', '3366', '885', '267', '104',
       '82', '372', '3356', '1013', '248', '1327', '377', '114', '496',
       '659', '7050', '472', '2121', '1163', '988', '969', '1800', '820',
       '358', '109', '2722', '45', '237', '87', '1680', '5632', '428',
       '1749', '528', '213', '3518'], dtype=object)

The following code gives us the values of the Death Rates in the dataset.

In [12]:
nyc2.Death_Rate.unique()

array([nan, '90.273577858', '86.419533483', '13.637387788',
       '11.562133125', '10.820970745', '10.228040841', '8.8939485574',
       '5.6328340864', '5.3363691344', '3.557579423', '54.2530862',
       '110.81763674', '92.926410766', '19.047986273', '17.12005244',
       '14.652297133', '14.420945073', '14.11247566', '10.102373287',
       '6.6320923866', '6.4007403266', '89.224777806', '238.78108308',
       '170.48930912', '37.363572534', '31.312402689', '26.605937254',
       '24.108629064', '22.859974969', '15.272000085', '11.33393717',
       '7.3958742548', '138.12035297', '303.91272541', '211.86530963',
       '35.654168768', '29.68813256', '28.693793192', '26.847162937',
       '16.406599572', '13.63665419', '11.647975454', '8.4518846282',
       '166.83594111', '126.36581755', '112.25223274', '15.918810783',
       '15.262364977', '12.636581755', '12.472470304', '7.549126763',
       '6.236235152', '4.7592320897', '80.906945525', '116.89975621',
       '97.648570006', '32.276456864', '19.251186201', '15.646708784',
       '15.564788843', '14.991349254', '12.943350722', '11.468791779',
       '10.158072719', '104.44792513', '248.93913363', '175.17508797',
       '40.308856448', '35.894630094', '28.111652047', '26.601521979',
       '21.606476367', '19.167035487', '16.030611498', '15.449792241',
       '164.13952208', '303.90452544', '224.61537316', '161.33295116',
       '12.805384217', '14.443282199', '17.719078161', '19.803675592',
       '30.45001247', '21.59047339', '27.844265682', '33.576908616',
       '86.442985878', '81.088110647', '18.053579352', '14.075672037',
       '11.168739768', '8.8737932406', '7.496825324', '6.5788467129',
       '5.9668609721', '4.4368966203', '58.903627545', '115.89701165',
       '90.688436054', '18.028424035', '15.921205641', '15.843160515',
       '15.21879951', '13.111581116', '10.223911466', '7.0240613123',
       '4.6046624158', '89.517759168', '221.52537971', '179.29800598',
       '38.379777032', '26.548417195', '21.738921326', '20.969401987',
       '20.392262483', '15.198006945', '9.7151816547', '8.7532824809',
       '152.46101904', '307.34487149', '221.40821908', '33.618075818',
       '32.119180718', '28.835886689', '25.766720532', '15.631334616',
       '13.061800159', '11.134649316', '9.8498820869', '172.44431248',
       '115.00852882', '101.53754448', '19.027765383', '15.996793906',
       '12.797435125', '12.62904782', '10.103238256', '8.082590605',
       '6.230330258', '5.3883937367', '75.605899618', '117.40558496',
       '101.34304372', '30.551947004', '17.966863143', '15.81415143',
       '14.654998969', '14.075422739', '12.088304234', '8.1968638302',
       '102.08821316', '244.94951551', '187.37591144', '36.405127424',
       '30.008060305', '25.588268477', '21.28478696', '19.540132291',
       '18.725960113', '17.795477622', '159.92667798', '303.41336291',
       '231.26474874', '36.074307085', '34.502604909', '24.847862972',
       '23.72521856', '18.860426111', '18.261682425', '13.172361093',
       '11.301287074', '178.20108956', '14.747319592', '8.8010232146',
       '7.5574003691', '152.96561', '317.96074946', '221.45463859',
       '36.861938245', '35.588397192', '29.857462455', '26.744362105',
       '16.909795087', '15.990015438', '13.513685614', '8.9855396489',
       '176.10242666', '113.04043226', '103.22554443', '18.27599803',
       '15.229998359', '14.383887339', '12.860887503', '10.830221055',
       '8.4611101992', '6.5996659554', '5.0766661195', '76.826880609',
       '116.81865519', '97.348879328', '21.623878727', '18.641274765',
       '16.238621573', '13.753118271', '12.67606684', '8.699261557',
       '99.088731639', '235.68965018', '176.56435672', '39.996522042',
       '26.084688288', '23.881981277', '22.722661798', '21.44741037',
       '20.519954787', '19.360635307', '17.969451932', '164.39150219',
       '298.45287678', '224.49008415', '33.376174763', '27.057745242',
       '25.422387013', '23.489690925', '21.333991441', '18.286278378',
       '13.454538156', '12.636859042', '170.07725581', '77.094914987',
       '14.706861293', '13.778006895', '10.991443703', '7.7404533119',
       '6.3471717158', '5.5731263846', '5.2635082521', '4.6442719871',
       '53.409127852', '106.48402427', '93.339780272', '16.273825898',
       '15.413190875', '15.334951327', '14.317837209', '13.770160375',
       '7.6674756636', '6.1026847118', '5.0855705932', '92.635624344',
       '79.726669113', '224.23476538', '179.08168976', '37.500011958',
       '29.368631814', '24.968120207', '22.193884628', '21.332914966',
       '14.062504484', '.', '23.4', '17.4', '4.6', '9.2', '12.4', '8',
       '15.2', '29.7', '114.5', '19.7', '13', '176.5', '21.5', '17.2',
       '13.7', '22.8', '73.9', '4.9', '13.8', '20.6', '5.4', '12.1',
       '19.2', '7.7', '9.7', '11.9', '89.6', '26.1', '14.7', '222.5',
       '37.9', '318', '39.7', '25.3', '5.8', '15.9', '96', '177.5',
       '209.1', '16.6', '234', '91.1', '11.7', '22.7', '159.3', '21.7',
       '5.2', '181.9', '96.5', '19.5', '16.1', '107.3', '16.5', '97.1',
       '5.1', '11.2', '18', '4.2', '18.3', '100.1', '4.5', '17.1', '8.7',
       '8.6', '12.8', '17.9', '16', '169.4', '28', '297.1', '16.7', '21',
       '36.3', '54.2', '6.7', '15.6', '29.5', '80.2', '8.3', '73.8',
       '36.8', '146.4', '37.4', '226.8', '12.7', '101', '11.4', '149.1',
       '156.3', '20.3', '14.5', '86.7', '13.4', '16.3', '319', '27.3',
       '232.7', '217.7', '45.9', '17.7', '18.5', '10.3', '10.2', '6',
       '22.3', '9.6', '31.9', '13.5', '17.3', '12', '12.6', '21.4',
       '43.7', '30', '36.6', '8.9', '224.2', '23', '170.8', '20.1',
       '71.3', '72.8', '39.3', '110.7', '4.8', '77.8', '170.3', '2.7',
       '7.4', '114.2', '303.5', '24.7', '92.1', '21.2', '17.8', '35',
       '18.4', '23.8', '226.4', '185.5', '13.3', '95.8', '25.9', '182.5',
       '32.5', '9.5', '5', '2.5', '10.1', '10', '11.6', '53.3', '14.1',
       '19.9', '40.3', '5.6', '90.8', '68.8', '14', '86.8', '14.9',
       '27.5', '9.8', '29.3', '17.5', '7.3', '13.6', '102.6', '172.9',
       '16.9', '26.3', '8.8', '7.2', '310.3', '11.3', '11', '141.9',
       '35.7', '3.8', '3.7', '21.3', '237.7', '115.1', '172.3', '332.7',
       '89.5', '28.2', '217.1', '14.8', '182.9', '4.4', '28.3', '15.7',
       '182.7', '102', '20.5', '12.5', '21.8', '12.2', '107.1', '36',
       '56', '96.4', '61.6', '154.3', '10.4', '229.6', '8.2', '40.6',
       '78.9', '39.1', '85.5', '49.1', '64.3', '26.8', '183.2', '14.6',
       '5.3', '140.7', '214.3', '354.1', '186.4', '99.2', '70.5', '215.7',
       '11.5', '18.1', '48.4', '5.7', '104.7', '3.6', '7.9', '39.2',
       '88.6', '19', '9.3', '316.4', '156.7', '31.2', '238', '79.1',
       '21.1', '104.1', '20.4', '7.5', '8.1', '28.5', '6.8', '110',
       '15.8', '19.3', '162.3', '6.2', '104.2', '7', '48.7', '10.7',
       '172.6', '33.3', '10.6', '32.9', '241.6', '15', '83.7', '3.2',
       '82.7', '19.6', '144.5', '9.1', '240.4', '13.2', '92.5', '13.1',
       '5.9', '59.2', '49.4', '34.9', '374.2', '35.1', '180.9', '20.7',
       '7.8', '32.8', '254.1', '20.2', '151.6', '12.3', '3.5', '126.5',
       '20.9', '15.3', '28.9', '26.7', '23.7', '168.6', '335.1', '236.7',
       '91.8', '23.6', '8.4', '149.7', '3', '102.1', '45.8', '70.1',
       '26.2', '6.5', '108.1', '85.9', '18.7', '24', '73.6', '42.3',
       '118.5', '16.4', '64.7', '12.9', '40.1', '72.5', '124.6', '117.2',
       '105.1', '3.3', '21.6', '232.9', '41.3', '135.1', '43.1', '11.1',
       '38.7', '10.8', '165.7', '112.7', '81.6', '91.6', '240.5', '27.6',
       '43.8', '33.6', '15.4', '99.1', '4.7', '95', '242.1', '108.5',
       '9.9', '183.4', '14.2', '5.5', '123.1', '27.1', '15.1', '6.9',
       '243.5', '14.3', '384.2', '3.1', '146.7', '24.4', '9.4', '438.3',
       '36.7', '64.6', '135.9', '120.3', '122.3', '118.9', '43.3',
       '244.6', '39.4', '476.2', '2.4', '143.2', '18.2', '250.4', '2.8',
       '40.2', '36.1', '10.5', '96.7', '410', '16.8', '85.6', '33.7',
       '41.9', '167.6', '97.7', '109.6', '260.1', '88.5', '172.4', '121',
       '47.8', '26.4', '234.5', '24.3', '30.4', '74.9', '25.5', '121.5',
       '250.9', '17.6', '22.2', '92.9', '15.5', '35.3', '178.7', '121.7',
       '19.1', '31.3', '76.7', '44.2', '6.6', '102.5', '491.4', '6.1',
       '248.9', '20', '136.5', '25.8', '8.5', '45.7', '116.8', '90.6',
       '26.5', '83', '171', '70.2', '34', '26.9', '258.6', '117.1', '421',
       '16.2', '83.1', '39.6', '130.7', '4.3', '109.1', '25', '245.2'],
      dtype=object)

Since, the values of the Sex field aren't all Male and Female, the following code will replace the values of M with Male and values of F with Female.

In [13]:
nyc2.replace(to_replace="M", value ="Male")
nyc2.replace(to_replace="F", value ="Female")

      Year  ... Age_Adjusted_Death_Rate
0     2017  ...                     NaN
1     2017  ...            82.308501815
2     2017  ...            80.491340351
3     2017  ...            12.579242234
4     2017  ...            10.771971109
...    ...  ...                     ...
1511  2007  ...                       .
1512  2007  ...                   167.4
1513  2007  ...                       .
1514  2007  ...                       .
1515  2007  ...                       .

[1516 rows x 7 columns]

The following code will filter the dataframe to see the results of Women with Diabetes in 2017.

In [14]:
nyc_female_2017 = nyc2[(nyc2["Leading_Cause"]=="Diabetes Mellitus (E10-E14)") & (nyc2["Year"]==2017) & (nyc2["Sex"]=="Female")]
nyc_female_2017

    Year                Leading_Cause  ...    Death_Rate Age_Adjusted_Death_Rate
5   2017  Diabetes Mellitus (E10-E14)  ...  10.820970745             9.943976124
16  2017  Diabetes Mellitus (E10-E14)  ...  14.652297133            14.242779522
25  2017  Diabetes Mellitus (E10-E14)  ...  37.363572534            28.690507237
41  2017  Diabetes Mellitus (E10-E14)  ...   13.63665419            8.1484190996
48  2017  Diabetes Mellitus (E10-E14)  ...           NaN                     NaN
64  2017  Diabetes Mellitus (E10-E14)  ...           NaN                     NaN

[6 rows x 7 columns]

The following code will filter the dataframe to see the results of Men with Diabetes in 2017.

In [15]:
nyc_male_2017 = nyc2[(nyc2["Leading_Cause"]=="Diabetes Mellitus (E10-E14)") & (nyc2["Year"]==2017) & (nyc2["Sex"]=="Male")]   
nyc_male_2017

     Year                Leading_Cause  ...    Death_Rate Age_Adjusted_Death_Rate
74   2017  Diabetes Mellitus (E10-E14)  ...  15.262364977            15.527918284
84   2017  Diabetes Mellitus (E10-E14)  ...  19.251186201            25.718023722
94   2017  Diabetes Mellitus (E10-E14)  ...  40.308856448            41.424557378
108  2017  Diabetes Mellitus (E10-E14)  ...  17.719078161            13.951701679
119  2017  Diabetes Mellitus (E10-E14)  ...           NaN                     NaN
132  2017  Diabetes Mellitus (E10-E14)  ...           NaN                     NaN

[6 rows x 7 columns]

Based on the information above women die at a higher death rate than men in the Year 2017 across all races except for Hispanic's.